<div class="left-sidebar">
    <div class="widget">
        <div class="widget-header" ng-class="{widgetHeaderChangeHeight: !searchCollapsed || !filterCollapsed}" >
            <div class="title">Build Challenges</div>
                <span class="tools">
                    <a class="btn btn-info" ng-href="" data-icon="&#xe07f" title="Search" ng-click="collapseFilters('search')" ng-class="{disabled:!searchCollapsed}"></a>
                    <a class="btn btn-info" ng-href="" data-icon="&#xe13f" title="Filter" ng-click="collapseFilters('filter')"  ng-class="{disabled:!filterCollapsed}"></a>

                    <a class="btn btn-info" ng-href="" ng-click="addNewChallenge()">+ Add New Challenge</a>
                </span>
                <div class="clearfix"></div>
                <div class="pull-right" style="padding: 5px;">
                    <div ng-hide="searchCollapsed">
                        <input class="search-query input-large" type="text" placeholder="Search by challenge name" ng-change="search()" ng-model="query_challenges">
                    </div>
                    <div ng-hide="filterCollapsed">
                        <select ng-model="selectedItemsPerPage" ng-options="p.per_page for p in viewPerPage" ng-change="changeItemPerPage(selectedItemsPerPage)">{{ p }}</select>
                    </div>
                </div>
        </div>
        <div class="widget-body clearfix">
            <div class="container-fluid mod-challenge">
                    <div class="span5 margin_bottom my_challenge repeat-item" ng-repeat="challenge in pagedChallenges[currentPage] | orderBy:sortingOrder:reverse">
                        <div class="float_left">
                            <div class="thumbnail_challenge" power-tip-challenge>
                                <img ng-src="{{challenge.teacher_image}}" image-reloader>
                            </div>
                        </div>
                        <div class="float_left">
                            <h5 class="challenge_list_width" >{{challenge.challenge_name}}</h5>
                            <h6>{{challenge.author_name}}</h6>
                            <p>
                                <button class="btn btn-success btn-mini" ng-click="installChallenge($index)">Add to class</button>
                                <button class="btn btn-warning btn-mini" ng-click="editChallenge($index)">Edit</button>
                                <a class="btn btn-info btn-mini" ng-click="questions($index)">Questions</a>
                            </p>
                        </div>
                        <div class="tooltip_content" style="display: none">
                            <h3 class="text_align_center overflow_text"><strong>{{challenge.challenge_name}}</strong></h3>

                            <div class="tooltip_author">
                                <span>by:</span>
                                <div>
                                    <span class="text_align_center">{{challenge.author_name}}</span>
                                    <img class="tooltip_img" ng-src="{{challenge.teacher_image}}" image-reloader/>
                                </div>

                            </div>

                            <dl class="inline">
                                <dt>Subject:</dt>
                                <dd>{{challenge.data.subject_name}}</dd>
                                <dt>Topic:</dt>
                                <dd>{{challenge.data.skill_name}}</dd>
                                <dt>Subtopic:</dt>
                                <dd>{{challenge.data.topic_name}}</dd>
                                <dt>Grade:</dt>
                                <dd>{{challenge.data.level}}</dd>
                                <dt>Environment:</dt>
                                <dd>{{challenge.data.game_name}}</dd>
                                <dt>Questions:</dt>
                                <dd>{{challenge.data.number_of_questions}}</dd>
                                <dt>Played times:</dt>
                                <dd>{{challenge.data.played_times}}</dd>
                            </dl>

                            <div class="tooltip_description" ng-show="challenge.description">
                                <span>Description</span>
                                <p>{{challenge.description}}</p>
                            </div>
                            <div class="tooltip_description" ng-show="challenge.teacher_biography">
                                <span>Teacher biography</span>
                                <p>{{challenge.teacher_biography}}</p>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="clearfix">
                <div class="pagination pull-right no-margin">
                    <ul>
                        <li ng-class="{disabled: currentPage == 0}">
                            <a href ng-click="prevPage()">Prev</a>
                        </li>
                        <li ng-click="setPage()" ng-class="{active: n == currentPage}" ng-repeat="n in range(pagedChallenges.length)">
                            <a href ng-bind="n + 1">1</a>
                        </li>
                        <li ng-class="{disabled: currentPage == pagedChallenges.length - 1}">
                            <a href ng-click="nextPage()">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>