/*
= FONT EMBEDING
-------------------------------------------------------------------------------------- */

/*
= ANGULARJS UPDATE STYLE
-------------------------------------------------------------------------------------- */
[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}
/*
= COMMON
-------------------------------------------------------------------------------------- */

	html {
		position:relative; overflow-x:hidden;
		width:100%; height:100%;
		font-family:"Open Sans", sans-serif; color:#000000;
		background:url(../images/bgr-html.jpg) repeat;
		}
		body {
			position:relative;
			width:100%; height:100%;
			font-family:"Open Sans", sans-serif; color:#000000;
			background:url(../images/bgr-body.png) center top no-repeat;
			}
			ul {margin:0px; list-style:none;}
			a {text-decoration:none;}
			input, textarea, button {font-family:"Open Sans", sans-serif;}
            textarea {resize: none}
	/*
	+ Header */

		header {
			width:800px;
			padding-top:40px; margin:0px auto 40px;
			}
			header h1 {}
				header h1 a {
					display:block;
					width:304px; height:44px;
					text-indent:-9999px;
					background:url(../images/logo.png) no-repeat;
					outline:none;
					}

	/*
	+ Box */
		
		.box {
			background:#ffffff;
			border:1px solid rgba(0,0,0,0.09);
			box-shadow:0px 3px 6px 0px rgba(0, 0, 0, 0.19);
			-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
			}

	/*
	+ Form elements */

		input {
			display:block;
			width:100%; height:26px;
			padding:0 5px;
			font-size:14px; color:#a1a1a2;
			background:none;
			border:1px solid #c5c5c5;
			-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
			}
			input:focus {
				border-color:#efa77a;
				box-shadow:0px 1px 3px 0px rgba(0, 0, 0, 0.75) inset;
				}
		textarea {
 			display:block;
			width:100%; height:72px;
			padding:5px;
			font-size:14px; color:#a1a1a2;
			background:none;
			border:1px solid #c5c5c5;
			-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
			resize:false;
			}
			textarea:focus {
                border-color:#efa77a;
                box-shadow:0px 1px 3px 0px rgba(0, 0, 0, 0.75) inset;
            	}
		.btn {
			display:block; 
			width:100%; height:45px; 
			padding:0px; 
			color:#ffffff; font-size:14px; text-transform:uppercase; line-height:45px;
			background:#e67a36;
			border:none; border-bottom:4px solid #b3602c; border-radius:3px; 
			-webkit-box-sizing:inherit; -moz-box-sizing:inherit; box-sizing:inherit;			
			}
        .chosen-container{
            width: 100% !important;
            font-size: 14px;
        }
        .chosen-container-single .chosen-single div {
            display: none !important;
        }
        .chosen-results li{
            padding: 0px !important;
            text-indent: 10px;
        }
        .chosen-results{
            margin: 0 !important;
        }
		.chosen-single {
			display:block !important; position:relative !important;
			height:26px !important; width:100% !important;
			font-size:14px !important; color:#a1a1a2 !important;
			background:url(../images/bgr-select.png) right center no-repeat !important;
			border:1px solid #c5c5c5 !important;
			box-shadow:0 1px 1px 0px rgba(0,0,0,0.25) !important;
			-webkit-box-sizing:border-box !important; -moz-box-sizing:border-box; box-sizing:border-box !important;
			}
			.ui-dropdownized div {
				display:block; float:left; overflow:hidden;
				height:24px; 
				padding-right:30px;
				text-indent:5px;
				}
			.ui-dropdownized select {font-size:14px;}
		.spinner {
			display:inline-block; position:relative;
			width:60px; height:22px;
			vertical-align:top;
			border:1px solid #bab9b9; border-radius:3px;
			box-shadow:0 1px 1px 0px rgba(0,0,0,0.25);
			}
			.spinner input {
				height:22px;
				font-size:18px; color:#6679a0; font-weight:600;
				border:none;
				}
				.spinner input:focus {box-shadow:none;}
			.spinner button {
                padding: 0px;
                border: none;
                background-color: none;
				position:absolute; right:5px; display:block;
				width:8px; height:7px;
				cursor:pointer;
				}
				.spinner-up {top:3px; background:url(../images/btn-spinner-up.png) no-repeat;}
				.spinner-down {bottom:3px; background:url(../images/btn-spinner-down.png) no-repeat;}

/*
= SIGN IN / REGISTER / SETUP
-------------------------------------------------------------------------------------- */

	/*
	+ Steps */

		.steps {
			position:relative;
			width:800px; 
			padding:25px;
			margin:0px auto;
			}
			.steps h3 {
				margin-bottom:25px;
				font-weight:600; font-size:18px;
				}
			.steps form ul li,
			.setup-student ul li {position:relative; padding-bottom:31px;}
				.required {background:url(../images/icon-required.png) right top no-repeat;}
                .sign-in .required {background: none}
                .register .required {background: none}
                .setup-student .required {background: none}
			.sign-in,
			.register-students {
				float:left;
				width:262px;
				padding-right:12px;
				border-right:1px solid #c9c7c7;
				}
				.sign-in h3 {color:#6679a0;}
				.sign-in form ul li {padding-right:14px;}
					.sign-in form ul li a {
						position:absolute; left:0px; top:30px;
						color:#4081ab; font-size:11px; text-decoration:underline; line-height:11px;
						}
					.sign-in form ul li button {background:url(../images/btn-sign-in.png) no-repeat #e67a36;}
				.sign-in h4 {
					position:relative;
					margin-bottom:20px; margin-top:-3px;
					font-size:14px; color:#979899; text-align:center; font-weight:400;
					}
					.sign-in h4:before {
						content:"";
						display:block; position:absolute; left:50%; top:50%; 
						width:20px; height:1px; 
						margin-left:-80px;
						background:#b7b6b6;
						}
					.sign-in h4:after {
						content:"";
						display:block; position:absolute; right:50%; top:50%; 
						width:20px; height:1px; 
						margin-right:-80px;
						background:#b7b6b6;
						}
				.sign-in > ul {overflow:hidden;}
					.sign-in > ul li {float:left; margin-right:16px;}
						.sign-in > ul li a {
							width:74px;
							padding-left:42px;
							text-transform:none; color:rgba(255,255,255,0.5);
							}
							.sign-in > ul li .facebook {background:url(../images/btn-facebook.png) no-repeat #2b4689; border-color:#1d3161;}
							.sign-in > ul li .google-plus {background:url(../images/btn-google-plus.png) no-repeat #d23a2f; border-color:#7d261f;}
						.sign-in > ul li:last-child {margin:0px;}
				.register-students {padding-top:75px;}
					.register-students h3 {color:#6679a0;}
					.register-students ul {padding-right:14px;}
						.register-students ul li {margin-bottom:3px;}
							.register-students ul li span {
								display:block;
								height:42px;
								font-size:14px; color:#67799f; line-height:42px; text-align:center;
								background:url(../images/icon-student.png) 10px center no-repeat;
								border:1px solid #c7c6c6; border-radius:3px;
								box-shadow:0 0px 2px 0px rgba(0,0,0,0.25);
								}
								.register-students ul li span.active {
									color:#ffffff;
									background-color:#67799f;
									border-color:#536280;
									box-shadow:inset 0 0 2px 0 rgba(0,0,0,0.25);
									}
			.register,
			.setup {
				float:left;
				width:448px;
				padding-left:25px;
				}
				.register h3 {color:#e67a36;}
				.setup h3 {font-size:24px; color:#67799f; text-align:center;}
				.register form ul,
				.setup-student ul {float:right;}
					.register form ul li,
					.setup-student ul li {
						width:206px;
						padding-right:14px;
						}
					.register form ul:first-child,
					.setup-student ul:first-child {float:left;}
				.register p {
					float:left; 
					width:208px;
					font-size:12px; color:#8b8d8f; line-height:15px;
					}	
					.register p a {color:#4081ab;}
						.register p a:hover {text-decoration:underline;}
				.register button {
					float:right; 
					width:208px; 
					margin-right:14px;
					background:url(../images/btn-register.png) right top no-repeat #e67a36;
					}
			.steps .video {
				overflow:hidden;
				width:610px; height:352px;
				margin:0px auto 30px;
				border-radius:3px;
				box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.75);
				}
			.steps > h3 {text-align:center; color:#67799f; font-size:24px;}	
			.steps > p {margin-top:10px; line-height:69px; color:#9a9b9c; font-size:14px; font-weight:700;clear:both}
				.steps > p span {text-decoration:underline; color:#4d6db2;}
			.setup-students-nav {position:absolute; right:39px; bottom:92px;}
				.setup-students-nav li {float:left; margin-left:5px;}
					.setup-students-nav li span {
						display:block;
						width:12px; height:12px;
						text-indent:-9999px;
						background:#c8cac8;
						outline:none;
						}
						.setup-students-nav li span.active {background:#e67a36;}
			.steps .submit {
				float:right; 
				width:208px; 
				margin:10px 14px 0 0;
				background:url(../images/btn-submit.png) right top no-repeat #e67a36;
				}
			.steps .ready-to-go	{
				width:355px; height:55px;
				margin:0px auto;
				background:url(../images/btn-ready-to-go.png) right top no-repeat #e67a36;
				}
            .ui-datepicker{
                left: -9999px;
                position: absolute;
            }
					
/*
= DASHBOARD
-------------------------------------------------------------------------------------- */

	.dashboard {background:none;}

	/*
	+ Header */

		.dashboard-header {
			position:fixed; left:0px; top:-60px; z-index:9999;
			width:100%; height:60px;
			padding:0 0 0 180px; margin:0px;
			background:#ffffff;
			box-shadow:0px 1px 5px 0px rgba(0, 0, 0, 0.14);
			-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
			}
			.dashboard-header h1 {float:left; margin-top:11px;}
				.dashboard-header h1 a {
					display:block;
					width:264px; height:44px;
					text-indent:-9999px;
					background:url(../images/logo-small.png) no-repeat;
					outline:none;
					}
			.main-nav {
				position:fixed; left:-170px; top:0px;
				width:170px;
                z-index: 9999;
				}
				.main-nav > li {
					display:block; position:relative;
					width:170px; height:60px;
					background:#ffffff;
					}
					.main-nav > li > a {
						display:block;
						width:110px; height:60px;
						padding-right:60px;
						line-height:60px; font-size:14px; color:rgba(110,112,114,0.5); text-align:right;
						background:url(../images/btn-nav-trigger.png) right center no-repeat;
						}
					.main-nav > li:after {
						content:"";
						display:block; position:absolute; right:0px; top:5px;
						width:1px; height:50px;
						background:#d4d9e4;
						}
					.main-nav li ul {padding:15px;background:#2b3d53;height: 100%;position: fixed;left: -170px;top: 60px;width:140px;}
						.main-nav li ul li {display:block; margin-bottom:5px;}
							.main-nav li ul li a {
								display:block; 
								height:25px;
								padding-top:110px;
								color:#ffffff; text-transform:uppercase; font-size:14px; line-height:14px; text-align:center;
								background-image:url(../images/icons-main-nav.png); background-repeat:no-repeat;
								}
								.main-nav li ul li a.home {background-position:-140px 0;}
								.main-nav li ul li a.class-codes {background-position:-140px -135px;}
								.main-nav li ul li a.students {background-position:-140px -270px;}
								.main-nav li ul li a.support {background-position:-140px -405px;}
                                .main-nav li ul li a.shop {background-position:-140px -523px;}
								.main-nav li ul li a.active {color:#858585; background-color:#ffffff;}
									.main-nav li ul li a.active.home {background-position:0px 0;}
									.main-nav li ul li a.active.class-codes {background-position:0 -135px;}
									.main-nav li ul li a.active.students {background-position:0 -270px;}
									.main-nav li ul li a.active.support {background-position:0 -405px;}
                                    .main-nav li ul li a.active.shop {background-position:0 -523px;}
			.account-nav {float:right; margin:18px 5px 0 0;}
				.account-nav li {float:left; padding:0 18px; border-right:1px solid #cfd4e0;}
					.account-nav li a {line-height:24px; color:#6779a1;}
						.account-nav li a:hover {text-decoration:underline;}
					.account-nav li:last-child {border:none;}

	/*
	+ Content */
	
		.main-holder {
            padding: 80px 20px 20px 20px;
            max-width: 820px;
            /*-webkit-transition: padding-left 500ms ;*/
            /*-moz-transition: padding-left 500ms ;*/
            /*-ms-transition: padding-left 500ms ;*/
            /*-o-transition: padding-left 500ms ;*/
            /*transition: padding-left 500ms ;*/
			}
        .menu-open{
            padding-left:170px
        }

/*
= CLASS BOARD
-------------------------------------------------------------------------------------- */

	div.class-board {padding-top:70px !important;}

	/*
	+ Content */
	
		div.class-board h2 {
			margin-bottom:10px;
			font-size:25px; color:#6779a1; font-weight:600; text-align:center;
			}
		div.class-board p {
			margin-bottom:10px;
			font-size:18px; color:#6779a1; font-weight:600;
			}
		div.class-board h3 {
			margin-bottom:10px;
			font-size:24px; font-weight:600; color:#ea7b36;
			}
		.grades-list {overflow:hidden; margin-bottom:20px;}
			.grades-list li {
				float:left; position:relative; overflow:hidden;
				width:193px; height:190px;
				padding:10px; margin:0 15px 15px 0;
				}
				.grades-list li span {
					display:block;
					font-size:180px; line-height:145px; font-weight:800; color:#e5e6e6; text-align:center;
					}
				.grades-list li div {
					display:block; position:absolute; left:10px; bottom:10px;
					width:168px; height:40px;
					text-align:center; line-height:40px; color:#ffffff; font-size:18px; font-weight:600;
					background:#ea7b36;
					border-radius:3px;
					box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.5) inset;
					}
				.grades-list li:nth-child(4n) {margin-right:0px;}
		.start-competing-list {position:relative; padding:10px; text-align: center}
			.start-competing-list li {display: inline-block ; width:230px; margin: 10px}
				.start-competing-list li a {
					display:block; overflow:hidden;
                    text-align: left;
					height:52px; width:135px;
					padding:8px 25px 0 70px;
					font-size:14px; color:rgba(255,255,255,0.6);
					background-image:url(../images/icons-start-competing.png); background-repeat:no-repeat; background-color:#7c8390;
					border-radius:3px;
					}
					.start-competing-list li a b {
						display:block; 
						font-size:24px; color:#ffffff; font-weight:400; line-height:24px;
						}
						.start-competing-list li a b em {font-family:"Noto Serif"; font-style:normal;}
					.start-competing-list li a.app-store {background-position:0 0;}
					.start-competing-list li a.google-play {background-position:0 -60px;}
					.start-competing-list li a.pc-mac {background-position:0 -120px;}
                    .start-competing-list li a.kindle {background: url(../images/amazon_kindle.jpg); background-repeat: no-repeat;background-size: contain; text-indent: -9999px; background-position: center;
                    background-color: #79818c}
					/*.start-competing-list li:last-child {float:right;}*/
					/*.start-competing-list li:nth-child(2) {*/
						/*position:absolute; left:50%; top:20px;*/
						/*margin-left:-115px;*/
						/*}*/
			.start-competing-list:before {
				content:"";
				display:block; position:absolute; left:0px; bottom:-20px;
				width:100%; height:20px;
				background:url(../images/before-start-competing.png) no-repeat; background-size:100% auto;
				}

/*
= SHOP
-------------------------------------------------------------------------------------- */

div.shop-board {padding-top:70px !important;}

    /*
    + Content */

        div.shop-board h2 {
            margin-bottom:10px;
            font-size:25px; color:#6779a1; font-weight:600; text-align:center;
        }
        div.shop-board p {
            margin-bottom:10px;
            font-size:18px; color:#6779a1; font-weight:600;
        }
        div.shop-board h3 {
            margin-bottom:10px;
            font-size:24px; font-weight:600; color:#ea7b36;
        }
        .class-list {overflow:hidden; margin-bottom:20px;}
            .class-list li {
                float:left; position:relative; overflow:hidden;
                width:193px;
                padding:10px; margin:0 15px 15px 0;
            }
            .class-list li strong {display: block;margin-bottom: 10px}
                .class-list li span {
                    display:block;
                    font-size:24px; color:#e5e6e6; text-align:center;
                }
                .class-list li span span {
                    font-size: 16px; color: #6779a1;
                    margin-bottom: 10px;
                }
                .class-list li div {
                    display:block;
                    width:168px; height:40px;
                    text-align:center; line-height:40px; color:#ffffff; font-size:18px; font-weight:600;
                    background:#ea7b36;
                    border-radius:3px;
                    box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.5) inset;
                }
                .class-list li div.activate {background: #C5D971}
                .class-list li:nth-child(4n) {margin-right:0px;}
                .class-list li img {width: 100%;}
        .start-competing-list {position:relative; padding:10px; text-align: center}
            .start-competing-list li {display: inline-block ; width:230px; margin: 10px}
                .start-competing-list li a {
                    display:block; overflow:hidden;
                    text-align: left;
                    height:52px; width:135px;
                    padding:8px 25px 0 70px;
                    font-size:14px; color:rgba(255,255,255,0.6);
                    background-image:url(../images/icons-start-competing.png); background-repeat:no-repeat; background-color:#7c8390;
                    border-radius:3px;
                }
                    .start-competing-list li a b {
                        display:block;
                        font-size:24px; color:#ffffff; font-weight:400; line-height:24px;
                    }
                    .start-competing-list li a b em {font-family:"Noto Serif"; font-style:normal;}
                    .start-competing-list li a.app-store {background-position:0 0;}
                    .start-competing-list li a.google-play {background-position:0 -60px;}
                    .start-competing-list li a.pc-mac {background-position:0 -120px;}
                    .start-competing-list li a.kindle {background: url(../images/amazon_kindle.jpg); background-repeat: no-repeat;background-size: contain; text-indent: -9999px; background-position: center;
                        background-color: #79818c}
                    .start-competing-list:before {
                        content:"";
                        display:block; position:absolute; left:0px; bottom:-20px;
                        width:100%; height:20px;
                        background:url(../images/before-start-competing.png) no-repeat; background-size:100% auto;
                    }

/*
= CHECKOUT
-------------------------------------------------------------------------------------- */

div.checkout-board {padding-top:70px !important;}

    /*
    + Content */

        div.checkout-board h2 {
            margin-bottom:30px;
            font-size:25px; color:#6779a1; font-weight:600; text-align:center;
        }
        div.checkout-board p {
            margin-bottom:10px;
            font-size:18px; color:#6779a1; font-weight:600;
        }
        div.checkout-board h3 {
            margin-bottom:10px;
            font-size:24px; font-weight:600; color:#ea7b36;
        }

    div.checkout-board table {
        width: 100%;
        padding: 0px;
    }
        div.checkout-board table thead th{
            text-align: left;
            color: #EA7B36;
            font-size: 18px;
            font-weight: 400;
        }
        div.checkout-board table thead th,
            div.checkout-board table td {
                padding: 5px 10px;
                border-bottom: 1px solid #eeeeee;
            }
        div.checkout-board table .btn{
            width: auto;
            float: right;
            clear: both;
            padding: 0 20px;
            margin-top: 15px;
        }


/*
= STUDENTS
-------------------------------------------------------------------------------------- */

	div.students {text-align:center;}

	/*
	+ Content */
	
		.student {padding:25px 65px; margin-bottom:40px;position: relative; color:#A1A1a2}
			.student h3 {
				margin-bottom:25px;
				font-size:24px; color:#67799f; font-weight:600;
				}
				.student .setup-student {
					position:relative;
					width:550px; 
					margin:0px auto;
					text-align:center;
					}
					.student .setup-student .img-holder {
						position:absolute; left:-115px; top:54px;
						width:130px;
						}
                        .img-avatar{
                            width: 128px;
                            height: auto;
                        }
					.student .setup-student .right {float:none; display:inline-block; margin-left:10px; vertical-align:top; text-align:left;}
					.student .setup-student .left {float:none; display:inline-block; margin-right:10px; vertical-align:top; text-align:left;}
					.student .setup-student > button {margin-right:58px;}
					.student .setup-student .btns-list {
						float:right; clear:both;
						}
						.student .setup-student .btns-list li {float:right; margin:0px 58px 0 -24px; padding:0px;}
							.student .setup-student button {
								float:right; clear:left; 
								width:208px; 
								background:url(../images/btn-submit.png) right top no-repeat #e67a36;
								}
					.student .setup-student ul li p {padding-left:45px; text-align:left; font-size:14px;}
		.add-new {
            margin-bottom: 40px;
			display:inline-block;
			width:158px; height:60px;
			padding-top:100px;
			text-align:center; font-size:14px; color:#6579a0;
			background:url(../images/btn-add-new.png) center 10px no-repeat #ffffff;
			border:1px solid #bbbbbb; border-radius:4px;
			box-shadow:0px 0px 8px rgba(0, 0, 0, 0.26) inset;
            padding-left: 5px;
            padding-right: 5px;
			}

        .add-new a {
            color:#6579a0;
        }
        .add-new.orange {
            background-image:url(../images/btn-add-new-orange.png);
        }
        .disabled:after{
            content: '';
            display: block;
            position: absolute;
            left: 0;top: 0;width: 100%;height: 100%;
            background: rgba(255,255,255,0.4);
        }
/*
= SUPPORT
-------------------------------------------------------------------------------------- */

div.supports {text-align:center;}
    .support-wrapper { padding:25px 15px; margin-bottom:40px;position: relative;}
    .support-wrapper .content { position:relative; width:100%; max-width:630px;margin:0px auto;text-align:center;}
    .support-wrapper .content .left {float:left; width: 48%; display:inline-block; margin-right:10px; vertical-align:top; text-align:left;}
    .support-wrapper .content .right  {float:right; width: 48%; display:inline-block; margin-left:10px; vertical-align:top; text-align:left;}
    .support-wrapper button {margin-right:18px;float:right; clear:left;width:208px;background:url(../images/btn-submit.png) right top no-repeat #e67a36;}

    .support-wrapper form ul li{
        padding-right: 14px;
        padding-bottom: 31px;
        position: relative;
    }

/*
= HOME
-------------------------------------------------------------------------------------- */
    div.homes {text-align: center}
        .home-avatar{
            width: 128px;
            height: auto;
        }
        .home-content-wrapper {position: relative; margin-bottom: 40px}
            .home-content {padding:10px;z-index: 25}
                .home-content .statistic-global {
                    position: relative; overflow:hidden;
                    margin: 0px auto;
                	}
                .home-content .statistic-global .right {float:none; min-height: 200px; }
                    .home-content .statistic-global .right
                        .chart {display:inline-block; margin-left: 35px; margin-right: 35px}
                            .chart-header{
                                padding-bottom: 20px;
								font-size:18px;
                            }
                            .chart-container{
								position:relative;
                                width: 100px; height: 100px; line-height: 120px;
                            }
                            .chart-footer{
                                padding-top: 20px;
								font-size:30px;
                            }
                        .btn-statistic-details{
                            float: right;
                        }
                .home-content .statistic-global .left  {
					float: left; 
					width:128px;
					padding:20px 30px 0 10px;
					border-right: 1px solid; border-color: #d3d3d3 
					}
        .home-content-wrapper .statistic-details{
            position: relative;
            padding: 0px 10px;
            margin: 0px auto;
            z-index: 20;
        }
            .home-content-wrapper .statistic-details .statistic-details-element{
                position: relative;
                padding: 10px 10px;
                margin: 0px auto;
                -moz-box-sizing: border-box;
                background: none repeat scroll 0 0 #FFFFFF;
                border: 1px solid rgba(0, 0, 0, 0.09);
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.19);
            }
                .statistic-details-content{
                    display: block;padding: 10px 10px;
                    border: 1px solid rgba(0, 0, 0, 0.09);
                    margin-bottom: 10px;
                }
                    .chart-details-header{
                        text-align: left;
                        padding-bottom: 20px;
                    }
                    .chart-details { min-height: 200px; text-align:center; }
                        .chart-content { display:inline-block; margin: 30px; vertical-align:top; }
                            .chart-content-container{
                                width: 100px; height: 100px; line-height: 100px;
                            }
                        .chart-name{
                            padding-top: 20px ;
                        	font-size:20px; color:#878482
						}
    .arrow{
        display: block;
        overflow: hidden;
        height: 50px;
        width: 50px;
        line-height: 60px;

        -moz-border-radius: 30px; /* or 50% */
        border-radius: 30px; /* or 50% */


        color: white;
        text-align: center;
        font-size: 2em;
        position: absolute;
        left: 50%;
        top: 50%;
		margin:-25px 0 0 -25px;

        background: url('../images/arrow.png') center no-repeat;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        transform-origin:center;
		-webkit-transform-origin:center;
		-moz-transform-origin:center;
    }
	
	.chart-details-header h2 {font-size:24px; color:#878482; font-weight:400;}
	
	.home-content button {
		margin-top:20px;
		line-height:24px; font-size:14px; color:#ea7b36; font-weight:700;
		background:#f5f2f0;
		border:none; border-radius:12px;
		box-shadow:inset 0 0 3px 1px rgba(0,0,0,0.3);
		outline:none;
		}
		.home-content button span {
			dislay:inline-block;
			padding:0px 30px 0 10px; 
			vertical-align:top;
			}
			.home-content button span.details-btn {background:url(../images/btn-details.png) right center no-repeat;}
			.home-content button span.close-btn {background:url(../images/btn-close.png) right center no-repeat;}
			
	.home-content .statistic-global .left li span {
		font-size:18px; font-weight:600; color:#ea7b36;
		}

    .small-navigation li {
        margin-bottom: 5px !important;
    }
    .small-navigation li a {
		padding-top:55px !important;
        height: 20px !important;
        line-height: 14px !important;
		background-image:url(../images/icons-main-nav-small.png) !important;
		}
        .small-navigation li a.home {background-position:-140px -7px !important;}
        .small-navigation li a.active.home {background-position:0px -7px !important;}
		.small-navigation li a.class-codes {background-position:-140px -95px !important;}
		.small-navigation li a.active.class-codes {background-position:0px -95px !important;}
		.small-navigation li a.students {background-position:-140px -178px !important;}
		.small-navigation li a.active.students {background-position:0px -178px !important;}
		.small-navigation li a.support {background-position:-140px -270px !important;}
        .small-navigation li a.active.support {background-position:0px -270px !important;}
        .small-navigation li a.shop {background-position:-140px -368px !important;}
        .small-navigation li a.active.shop {background-position:0px -368px !important;}

    .homes .no-students {display: block; width: 100%; max-width: 820px; height: auto}

/*
= SUPPORT
-------------------------------------------------------------------------------------- */

	.support-wrapper .content > div > h3 {
		margin-bottom:25px;
		font-size:24px; font-weight:600; color:#67799f;
		}

	/*
	+ Accordion */
		
		.ui-accordion-header {background:none; border-top:1px solid #dddddd; border-radius:0px;}
			.ui-accordion-header:first-child {border:none;}
		.ui-accordion-content {font-size:12px; line-height:20px;}
/*
= RESPONSIVE
-------------------------------------------------------------------------------------- */
	
	@media all and (orientation:portrait) {}
	@media all and (orientation:landscape) {}
	@media screen and (max-width: 1000px) {
		
		.home-content .statistic-global {}
			.home-content .statistic-global .right .chart  {margin:0 20px;}
		 
		} 
		
	@media screen and (max-width: 880px) {

		header {width:100%;}
		.steps {width:100%;}
			.register, .setup {width:398px;}
			.steps .register form ul li,
			.steps .setup-student ul li {width:180px !important;}
			.register p {width:180px;}
			.register button,
			.steps .submit {width:180px;}

		.grades-list li {
			width:160px; height:160px;
			padding:10px; margin:0 15px 15px 0;
			}
			.grades-list li span {font-size:130px; line-height:125px; }
			.grades-list li div {width:138px; font-size:14px;}
		
		.start-competing-list li {width:206px;}
			.start-competing-list li a {width:110px;}
				.start-competing-list li a b {font-size:20px;}

		.student .setup-student .img-holder {position:relative; top:auto; left:auto; margin:0px auto 31px;}
		
		}

	@media screen and (max-width: 765px) {
		
		header h1 a {margin:0px auto;}
		
		.register-students ul {padding-right:0px; width:262px; display:inline-block;}
		
		.register, .setup {width:auto; float:none; padding:0px; text-align:center;}
			.register form ul, .setup-student ul {float:none !important; display:inline-block !important; vertical-align:top; text-align:center; margin:0 10px;}
		.register p {float:none; clear:both; width:300px; margin:0px auto 25px;}
		.register button {display:inline-block; vertical-align:top; float:none;}
		
		.sign-in, .register-students {
			float:none; 
			width:auto;
			padding:0px; margin-bottom:30px;
			text-align:center;
			border:none;
			}
			.sign-in form {width:262px; display:inline-block;}
			.sign-in > ul {text-align:center;}
				.sign-in > ul li {display:inline-block; float:none; margin:0 14px 0 0 !important; vertical-align:top;}
		
		.setup-students-nav {position:relative; right:auto; bottom:auto; text-align:center;}
			.setup-students-nav li {display:inline-block; margin:0 2px; float:none;}
		
		.steps > p {text-align:center; line-height:18px;}
		.steps .submit {clear:both; float:none; margin:25px auto 0;}
		
		}
		
	@media screen and (max-width: 750px) {
	
		.dashboard-header {padding-left:80px;}
			.main-nav > li {width:60px;}
				.main-nav > li > a {text-indent:-9999px; width:0px;}
				
		.home-content .statistic-global .right .chart {margin:0 10px;}
			
		.home-content .statistic-global .left {padding-right:10px;}	
		.chart-header {font-size:14px;}
		.chart-footer {font-size:24px;}	
		.chart-content {margin:10px;}
			
		.student {padding:25px 35px;}
			.student .setup-student {width:100%;}
				.student .setup-student > button {margin-right:14px;}
				.student .setup-student .btns-list li {margin:0 14px 0 14px;}
				.student .setup-student .btns-list li:last-child {margin-left:0px;}
				
		.grades-list li {width:140px; margin-right:15px !important;}
			.grades-list li div {width:118px;}
		
		.start-competing-list li {width:130px;}
			.start-competing-list li a {padding-left:10px; padding-right:10px; text-align:center; background-image:none;}
			
		.support-wrapper {padding:25px 35px;}	
			
		}

	@media screen and (max-width: 650px) {
		
		.support-wrapper .content .left {width:100%; float:none; margin-bottom:30px;}
		.support-wrapper .content .right {width:100%; float:none;}
		
		}

	@media screen and (max-width: 600px) {
		
		.student .setup-student .left,
		.student .setup-student .right {display:block; width:100%; margin:0px;}
			.student .setup-student .left li,
			.student .setup-student .right li {
				width:100%; 
				padding-bottom:20px;
				-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
				}
			.student .setup-student .li {float:none; margin-bottom:15px;}
				.student .setup-student .li li {padding:0px; width:100%;}
					.student .setup-student .li li p {padding:0px; text-align:center;}
			.student .setup-student .btns-list li {width:auto; margin:0 14px 0 0;}
		.student .setup-student button {width:110px; font-size:12px;}
		
		}
	
	@media screen and (max-width: 600px) {
		
		.home-content .statistic-global {text-align:center;}
			.home-content .statistic-global .right,
			.home-content .statistic-global .left  {float:none; display:block; text-align:center; border:none; width:100%; padding:0px;}
			.home-content .statistic-global .left {margin-bottom:25px;}
				.home-content .statistic-global .right .chart {}
		.chart-details-header h2 {font-size:18px; text-align:center;}
		.chart-content {margin:5px;}
			.chart-name {font-size:12px;}
							
		}
	
	@media screen and (max-width: 550px) {
		
		.dashboard-header h1 a {width:40px;}
		.account-nav li {padding:0 7px;}
	
		}

	@media screen and (max-width: 550px) {

		.start-competing-list {height:auto;}
		.start-competing-list li {
			position:relative !important; left:auto !important; top:auto !important; float:none !important;
			width:100%;
			margin:0 0 15px !important;
			}
			.start-competing-list li a {float:none; width:100%; padding:8px 0 0px;}
			.start-competing-list li:last-child {margin-bottom:0px !important;}
					
		}
		
	@media screen and (max-width: 499px) {
		
		.register, .setup {width:264px; margin:0px auto;}
			.steps .register form ul , .steps .setup-student ul {margin:0px;}
				.steps .register form ul li, .steps .setup-student ul li {width:248px !important; }
			.register-students {width:264px; margin:0px auto 30px;}
			.register p {width:248px;}
			.steps > p {width:248px; margin:0px auto;}
			
		}

	@media screen and (max-width: 449px) {
		
		.home-content .statistic-global .right .chart {display:block; margin-bottom:20px;}
			.chart-header {padding-bottom:5px;}
			.chart-footer {padding-top:5px;}
			.home-content .statistic-global .right .chart:last-child {margin:0px;}
		.chart-content {display:block; margin-bottom:20px;}
			.chart-name {padding-top:5px;}
			.chart-content:last-child {margin:0px;}
		
		}
		
	@media screen and (max-width: 420px) {
		
		.add-new {
			width:100px;
			padding-top:90px;
			background-size:50px 50px;
			}

		}
		
	@media screen and (max-width: 380px) {
		
		.student .setup-student > button {float:none; width:100%; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
		.student .setup-student .btns-list {float:none;}
			.student .setup-student .btns-list li {float:none; width:100%; margin:0 0 15px;}
				.student .setup-student .btns-list li button {float:none; width:100%;}
				.student .setup-student .btns-list li:last-child {margin:0px;}

		.grades-list li {width:100%; margin-right:0px !important;}
			.grades-list li div {width:auto; right:10px;}

        .class-list li {width: 100%; margin-right: 0px !important;}
            .class-list li div {width: auto; right: 10px}

        .account-nav {margin: 18px 0 0;}
        .account-nav li {padding: 0 5px}
		
		}

/*
= PRINT
-------------------------------------------------------------------------------------- */

	@media print {
		* {background:transparent !important; color:#444 !important; text-shadow:none !important;}
		a, a:visited {color:#444 !important; text-decoration:underline;}
		a:after {content:"("attr(href)")";}
		abbr:after {content:" ("attr(title)")";}
		.ir a:after {content:"";}
		pre, blockquote {border:1px solid #999; page-break-inside:avoid;}
		thead {display:table-header-group;}
		tr, images {page-break-inside:avoid;}
		@page {margin:0.5cm }
		p, h2, h3 {orphans:3; widows:3;}
		h2, h3{page-break-after:avoid;}
		}

.easyPieChart {
    position: relative;
    text-align: center; font-size:18px; color:#878482;
	margin:0px auto;
}

.easyPieChart canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.chosen-container .chosen-results li{
    color:#A1A1A2 !important;
}
.ui-accordion h3{
    color: #666666 !important;
}
.ui-widget-content{
    color: #A1A1A2 !important;
}
.text-light-gray{
    color: #A1A1A2;
}
form.account label{
    color: #A1A1a2;
    display: block;
    margin-bottom: 3px;
}
form.account li {
    padding-bottom: 0 !important;
    margin-bottom: 31px;
}
form.account li.required{
    background-position: 100% 80%;
}
.chosen-container input {
    height: 25px !important;
}
.chosen-container .chosen-choices{
    background-image: url("https://cdn2.iconfinder.com/data/icons/picol-vector/32/arrow_sans_down-16.png");
    background-position: right 5px top 7px;
    background-repeat: no-repeat;
}
.checkout {
    display: block;
    text-indent: -9999px;
    width: 26px;
    background:url(../images/checkout.png) repeat;
}