<div class="main-holder students">
    <div class="student box">
        <form action="" class="clearfix setup-student account" ng-submit="account.save()" autocomplete="off">
            <ul class="left">
                <li class="required">
                    <label for="email">Country</label>
                    <select name="" id="" chosen disable-search="true" ng-options="country.iso2code as country.name for country in account.countries" data-placeholder="Country" ng-model="account.user.country">
                        <option value=""></option>
                    </select>
                </li>
                <li>
                    <label for="email">Postal code</label>
                    <input type="text" name="postalCode" placeholder="Your postal code" ng-model="account.user.postalCode">
                </li>
                <li class="required">
                    <label for="email">First name</label>
                    <input type="text" name="firstName" placeholder="First name" ng-model="account.user.firstName">
                </li>
                <li class="required">
                    <label for="email">Last name</label>
                    <input type="text" name="lastName" placeholder="Last name" ng-model="account.user.lastName">
                </li>
            </ul>
            <ul class="right">
                <li class="required">
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" placeholder="Email" ng-model="account.user.email">
                </li>
                <li class="required">
                    <label for="email">User name</label>
                    <input type="text" name="regUsername" placeholder="User name" ng-model="account.user.username">
                </li>
                <li class="required">
                    <label for="email">Password</label>
                    <input type="password" name="regPassword" placeholder="New password" ng-model="account.user.password">
                </li>
                <li>
                    <label for="email">Retype password</label>
                    <input type="password" name="regRetypePassword" placeholder="Type new password again" ng-model="account.user.retypePassword">
                </li>
            </ul>
            <button class="btn submit">Submit</button>
        </form>
    </div>
</div>