<div class="main-holder students">

    <div class="student box students-repeat-animation" ng-repeat="student in c_student.students">
        <form class="clearfix setup-student" autocomplete="off">
            <h3>
                Click on any field to change the information<br/>
                <small style="font-size: 13px; color: rgb(170, 170, 170); line-height: 10px; display: block; text-align: center;">All fields are mandatory</small>
            </h3>
            <div class="img-holder">
                <img ng-src="{{c_student.imageUrl}}/student/{{student.studentId}}" alt="" class="img-avatar">
                <h4><br/>Paid License(s)</h4>
                <span ng-repeat="licence in student.boughtLicence">
                    {{licence}}<br/>
                </span>
            </div>
            <ul class="left">
                <li class="required">
                    <input type="text" placeholder="First name" ng-model="student.firstName" >
                </li>
                <li class="required">
                    <input type="text" placeholder="Last name" ng-model="student.lastName" >
                </li>
                <li class="required">
                    <input type="text" placeholder="Birthday" ng-model="student.birthday" datepicker >
                </li>
                <li class="required">
                    <select ng-model="student.grade" ng-options="grade.id as grade.name for grade in c_student.grades" chosen disable-search="true" data-placeholder="Grade"  ></select>
                </li>
                <li class="required">
                    <select ng-model="student.gender" ng-options="gender.desc as gender.name for gender in c_student.gender" chosen disable-search="true" data-placeholder="Gender"></select>
                </li>

            </ul>
            <ul class="right">
                <li class="required">
                    <input type="text" placeholder="Email" ng-model="student.email" >
                </li>
                <li class="required">
                    <input type="text" placeholder="Create user name" ng-model="student.username" >
                </li>
                <li class="required">
                    <input type="password" placeholder="Pick a password" ng-model="student.password" >
                </li>
                <li class="required">
                    <input type="password" placeholder="Type password again" ng-model="student.retypePassword" >
                </li>
            </ul>
            <button class="submit btn" ng-click="c_student.editStudent(student)">Submit Changes</button>
        </form>

    </div>
    <span style="margin-right: 35px;" class="add-new" ng-show="!c_student.addStudentForm && !c_student.addConnectionStudentForm" ng-click="c_student.showStudentForm('addConnection')" >
        My Student Was Added in School or Created Their Own Account
    </span>
    <span class="add-new orange" ng-show="!c_student.addConnectionStudentForm && !c_student.addStudentForm" ng-click="c_student.showStudentForm('addNew')" >
        I Have to Create An Account For My Student to Compete
    </span>

    <div class="student box" ng-if="c_student.addConnectionStudentForm">
        <form action="" class="clearfix setup-student">
            <ul class="li">
                <li>
                    <p class="text-light-gray">
                        <strong>"Student Already Registered?</strong> Simply add their credentials and be connected"
                    </p>
                </li>
            </ul>
            <ul class="right">
                <li class="required">
                    <input type="text" placeholder="Student username" ng-model="c_student.newStudentConnection.username"/>
                </li>
                <li class="required">
                    <input type="password" placeholder="Student password" ng-model="c_student.newStudentConnection.password"/>
                </li>
            </ul>
            <ul class="btns-list">
                <li><button class="submit btn" ng-click="c_student.addStudentConnection()">Submit Now</button></li>
                <li>
                    <button class="submit btn" ng-click="c_student.hideStudentForm('addConnection')" style="background: #4b617c; border-bottom: 4px solid #345;">Cancel</button>
                </li>
            </ul>
        </form>
    </div>

    <div class="student box" ng-if="c_student.addStudentForm">
        <form action="" class="clearfix setup-student">
            <div class="img-holder">
                <img ng-src="/images/female.png" alt="" class="img-avatar" ng-if="c_student.newStudent.gender === 'female'">
                <img ng-src="/images/male.png" alt="" class="img-avatar" ng-if="c_student.newStudent.gender === 'male'">
                <span ng-show="c_student.newStudent.gender">Default character</span>
            </div>
            <ul class="left">
                <li class="required">
                    <input type="text" placeholder="First name" ng-model="c_student.newStudent.firstName" >
                </li>
                <li class="required">
                    <input type="text" placeholder="Last name" ng-model="c_student.newStudent.lastName" >
                </li>
                <li class="required">
                    <input type="text" placeholder="Birthday" ng-model="c_student.newStudent.birthday" datepicker >
                </li>
                <li class="required">
                    <select chosen disable-search="true" data-placeholder="Grade"  ng-model="c_student.newStudent.grade" ng-options="grade.id as grade.name for grade in c_student.grades">
                        <option value=""></option>
                    </select>
                </li>
                <li class="required">
                    <select chosen disable-search="true" data-placeholder="Gender"  ng-model="c_student.newStudent.gender" ng-options="gender.desc as gender.name for gender in c_student.gender" >
                        <option value=""></option>
                    </select>
                </li>
            </ul>
            <ul class="right">
                <li class="required">
                    <input type="text" placeholder="Email" ng-model="c_student.newStudent.email" >
                </li>
                <li class="required">
                    <input type="text" placeholder="Create user name" ng-model="c_student.newStudent.username" >
                </li>
                <li class="required">
                    <input type="password" placeholder="Pick a password" ng-model="c_student.newStudent.password" >
                </li>
                <li class="required">
                    <input type="password" placeholder="Type password again" ng-model="c_student.newStudent.retypePassword" >
                </li>
            </ul>
            <ul class="btns-list">
            	<li><button class="submit btn" ng-click="c_student.addStudent()">Submit Now</button></li>
            	<li><button class="submit btn" ng-click="c_student.hideStudentForm('addNew')" style="background: #4b617c; border-bottom: 4px solid #345;">Cancel</button></li>
            </ul>
        </form>
    </div>

</div>