<div class="main-holder supports">
    <div class="support-wrapper box">
        <div class="content clearfix">
            <div class="left">
            	<h3>FAQ</h3>
                <div accordion>
                    <h3>What Platforms Does this Work On?</h3>
                    <div>
                        <p>
                            Class Compete works on almost every device. Currently we can be found on: Apple IPad, any Android Device, Kindle Fire and any computer browser.
                        </p>
                    </div>
                    <h3>What does Class Compete Do?</h3>
                    <div>
                        <p>
                            Our goal is to improve student scores. We do this by making them practice test taking skills doing what they love best:  Gaming.
                        </p>
                    </div>
                    <h3>How did you come up with this idea of gaming and testing?</h3>
                    <div>
                        <p>
                            Over the last 5 years we have had the privilege of tutoring over 100k students in 20 states. In this experience we learned that by adding computer technology we were able to improve student results 40% at times. We then focused on what type of technology would have the best impact - gaming.  Class Compete is the simple solution that came out of years of research to improve student scores.
                        </p>
                    </div>
                    <h3>Do I have to pay for this?</h3>
                    <div>
                        <p>
                            No payment is necessary. We will always provide some samples for free. If that helps your students that’s great!  If you feel they need more specific help then we will have specialized paid content from experts that can help more.
                        </p>
                    </div>
                    <h3>Do you protect student information?</h3>
                    <div>
                        <p>
                            ABSOLUTELY! We have attempted to protect all personally identifiable information and adhere to Children’s Online Privacy Protection (COPPA).  Please check our privacy policy and terms and conditions found on our website for further details.
                        </p>
                    </div>
                    <h3>Who is using this? Where are you located?</h3>
                    <div>
                        <p>We are a US based company, however, we know the world is flat and US kids are competing globally.  There are students using this product in schools in Asia and Europe. In this new economy your students need the ability to compete with everyone, so let them use Class Compete and see how they do!</p>
                    </div>
                    <h3>I have been hearing about Common Core. Will this help my student?</h3>
                    <div>
                        <p>We do have content aligned to Common Core in the system as well as other content.</p>
                    </div>
                    <h3>Can I see this data on my mobile device?</h3>
                    <div>
                        <p>YES! Just bookmark this url and it will work on your mobile device.</p>
                    </div>
                    <h3>So you are not teaching the students?</h3>
                    <div>
                        <p>No, we believe there is an art in just improving their test taking abilities.  That’s what we specialize in.</p>
                    </div>
                    <h3>Now that I see the issues my student is having can you help more?</h3>
                    <div>Sure just get in touch with us and we can recommend the best solution we think would work for your student. </div>

                </div>
            </div>
            <div class="right">
            	<h3>Ask a question</h3>
                <form action="" name="contactForm" novalidate="novalidate" ng-submit="c_support.sendComment()">
                    <ul>
                        <li class="required">
                            <input type="text" placeholder="Name" ng-model="c_support.comment.name"/>
                        </li>
                        <li class="required">
                            <input type="text" placeholder="Email" ng-model="c_support.comment.email"/>
                        </li>
                        <li class="required">
                            <textarea name="comment" id="comment" cols="30" rows="5" placeholder="Comments Box" ng-model="c_support.comment.comment"></textarea>
                        </li>
                    </ul>
                    <button type="submit" class="submit btn">Send</button>
                </form>
            </div>
        </div>
    </div>
    <div class="class-board" style="padding-top: 0px !important; margin-top: -25px;">
        <h3 style="text-align: left;">Start Competing Now</h3>
        <ul class="start-competing-list box">
            <li><a href="http://bit.ly/1iHxsW6" target="_blank"  class="app-store">Available on the <b>App Store</b></a></li>
            <li><a href="http://bit.ly/1gPwpix" target="_blank" class="google-play">Android App on <b><em>Google</em> Play</b></a></li>
            <br/>
            <li><a href="http://bit.ly/1idscos" target="_blank" class="pc-mac">Available on <b>PC &amp; Mac</b></a></li>
            <li><a href="http://amzn.to/1icY3f1" target="_blank" class="kindle">Available on <b>Amazon kindle</b></a></li>
        </ul>
    </div>
</div>