<div class="row-fluid">
    <div class="span12">
        <div class="widget">
            <div class="widget-body">
                <div class="span3">&nbsp;</div>
                <div class="span6">
                    <div class="sign-in-container">
                        <form id='reset_password' class='login-wrapper' >
                            <div class="header">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <h3 style="color: #FF720C; font-size: 30px; font-weight: normal; line-height: 36px;" class="clearfix">
                                                    <span style="float: left; height: 40px; width: 40px; overflow: hidden; margin-right: 10px;">
                                                        <img src="http://teacher.classcompete.com/logo-new.png" alt="Logo" class="pull-left" style="max-width: inherit;">
                                                    </span>
                                            Parent password recovery
                                        </h3>
                                    </div>
                                </div>

                            </div>
                            <div class="content">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <input class="input span12" type="text" name="email" id="email" value="" placeholder="Email" ng-model="email">
                                    </div>
                                </div>
                                <span class="error"></span>
                                <span class="info">{{success_message}}</span>
                            </div>
                            <div class="actions">
                                <button id="reset" type="button" class="btn btn-primary" name="Reset" value="Reset" ng-click="resetPwd()">Reset</button>
                                <a class="link" ng-href="#/login" data-original-title="">Go back</a>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="span3">&nbsp;</div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>