<div class="main-holder class-board">
    <h2><span>FREE Trial</span> Class Codes</h2>
    <p>
        Input any class code below in the student game to get access 3 free challenges per grade<br/>
        For full access please select <a href="#shop" style="color:#ea7b36">Paid Games</a>
    </p>
    <h3>Grades</h3>
    <ul class="grades-list">
        <li class="box">
            <span>1</span>
            <div> trymath1 </div>
        </li>
        <li class="box">
            <span>2</span>
            <div > trymath2 </div>
        </li>
        <li class="box">
            <span>3</span>
            <div> trymath3 </div>
        </li>
        <li class="box">
            <span>4</span>
            <div > trymath4 </div>
        </li>
        <li class="box">
            <span>5</span>
            <div > trymath5 </div>
        </li>
        <li class="box">
            <span>6</span>
            <div > trymath6 </div>
        </li>
        <li class="box">
            <span>7</span>
            <div >COMING SOON!</div>
        </li>
        <li class="box">
            <span>8</span>
            <div >COMING SOON!</div>
        </li>
    </ul>
    <h3>Start Competing Now</h3>
    <ul class="start-competing-list box">
        <li><a href="http://bit.ly/1iHxsW6" target="_blank"  class="app-store">Available on the <b>App Store</b></a></li>
        <li><a href="http://bit.ly/1gPwpix" target="_blank" class="google-play">Android App on <b><em>Google</em> Play</b></a></li>
        <br/>
        <li><a href="http://bit.ly/1idscos" target="_blank" class="pc-mac">Available on <b>PC &amp; Mac</b></a></li>
        <li><a href="http://amzn.to/1icY3f1" target="_blank" class="kindle">Available on <b>Amazon kindle</b></a></li>
    </ul>
</div>