<div class="main-holder homes">
    <div class="home-content-wrapper" ng-repeat="student in home.globalStatistic">
        <div class="home-content box">

            <div class="statistic-global clearfix">
            <ul class="left">
                <li>
                    <img ng-src="{{home.imageUrl}}/student/{{student.studentId}}" alt="" class="home-avatar"/>
                </li>
                <li>
                    <span>{{student.name}}</span>
                </li>


            </ul>
            <div class="right">
                    <div class="chart" style="color: #5C246E">
                        <p class="chart-header" >Student average</p>
                        <div easypiechart class="chart-container easyPieChart" percent="{{student.scores.studentAverage}}" data-bar-color="#9b5989" index="{{$index}}">
                            <span easypiechararrow percent="{{student.scores.studentAverage}}" class="arrow" color="#9b5989"></span>
                        </div>
                        <p class="chart-footer">{{student.scores.studentAverage}}%</p>
                    </div>
                    <div class="chart" style="color: #003F87">
                        <p class="chart-header">Class average</p>
                        <div easypiechart class="chart-container easyPieChart" percent="{{student.scores.classAverage}}" index="{{$index}}" data-bar-color="#6779a1">
                            <span easypiechararrow percent="{{student.scores.classAverage}}" class="arrow" color="#6779a1"></span>
                        </div>
                        <p class="chart-footer">{{student.scores.classAverage}}%</p>
                    </div>
                    <div class="chart" style="color: #de5900">
                        <p class="chart-header">USA average</p>
                        <div easypiechart class="chart-container easyPieChart" percent="{{student.scores.usaAverage}}" index="{{$index}}" data-bar-color="#ea7b36">
                            <span easypiechararrow percent="{{student.scores.usaAverage}}" class="arrow" color="#ea7b36"></span>
                        </div>
                        <p class="chart-footer">{{student.scores.usaAverage}}%</p>
                    </div>
            </div>
        </div>

            <button class="" ng-click="home.getDetails(student, $index)">
                <span ng-if="$index != home.showDetailsIndex" class="details-btn">Details</span>
                <span ng-if="$index === home.showDetailsIndex" class="close-btn">Close</span>
            </button>
        </div>

        <div class="statistic-details show-details-animation" ng-if="$index === home.showDetailsIndex">
            <div class="statistic-details-element">
                <div class="statistic-details-content" ng-repeat="detailStat in home.detailsStat">
                    <div class="chart-details-header">
                        <h2>{{detailStat.name}}</h2>
                    </div>
                    <div class="chart-details">
                        <div class="chart-content" ng-repeat="score in detailStat.stat">
                            <div easypiechart class="chart-content-container easyPieChart" percent="{{score.score}}" index="{{$index}}" style="">
                                {{score.score}}%
                            </div>
                            <p class="chart-name">{{score.name}}</p>
                        </div>
                    </div>
                </div>
                <div ng-if="home.detailsStat.length === 0">{{student.name}} has not played yet.</div>
            </div>
        </div>

    </div>

    <img src="../images/Student-Empty-notice.jpg" alt="" class="no-students" ng-if="!home.globalStatistic"/>

</div>