<ul class="main-nav">
    <li>
        <a class="main-nav-trigger" ng-click="menuOpen($event)">
        </a>
        <ul class="navigation">
            <li><a ng-href="#/home" ng-class="{active : isActive('/home')}"  class="home" ng-click="goTo()">Home</a></li>
            <li><a ng-href="#/students" ng-class="{active : isActive('/students')}" class="students" ng-click="goTo()">Students</a></li>
            <li><a ng-href="#/classcode" ng-class="{active : isActive('/classcode')}" class="class-codes" ng-click="goTo()">Free Games</a></li>
            <li><a ng-href="#/shop" ng-class="{active: isActive('/shop')}" class="shop" ng-click="goTo()">Paid Games</a></li>
            <li><a ng-href="#/support" ng-class="{active : isActive('/support')}" class="support" ng-click="goTo()">Support</a></li>
        </ul>
    </li>
</ul>