
<header>
    <h1><a href="#">classcompete</a></h1>
</header>

<div class="box steps clearfix">
    <div class="register-students">
        <h3>How many students are you registering
            <span class="spinner">
                <button class="spinner-up" ng-click="setupStudent.addStudent()" ng-disabled="setupStudent.countStudents === 5"></button>
                <span><input type="text" ng-model="setupStudent.countStudents" ng-disabled="true"/></span>
                <button class="spinner-down" ng-click="setupStudent.removeStudent()" ng-disabled="setupStudent.countStudents === 1"></button>
            </span>
            <span class="spinner-mobile">
                <select ng-model="setupStudent.countStudentsSelected" ng-change="setupStudent.setStudent(setupStudent.countStudentsSelected)">
                    <option value="1" selected="selected">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </span>
        </h3>
        <ul>
            <li ng-repeat="student in setupStudent.students" ng-click="setupStudent.setActiveStudent($index)">
                <span ng-class="{'active':$index + 1 === setupStudent.activeStudent}" ng-if="setupStudent.students[$index].firstName.length !=0">
                    {{setupStudent.students[$index].firstName}} {{setupStudent.students[$index].lastName}}
                </span>
                <span ng-class="{'active':$index + 1 === setupStudent.activeStudent}" ng-if="setupStudent.students[$index].firstName.length === 0">
                    Student {{$index + 1}}
                </span>
            </li>
        </ul>
    </div>
    <div class="setup">
        <h3>Almost done! Now let’s get your student(s) set up</h3>
        <form class="clearfix setup-student" ng-repeat="student in setupStudent.students" ng-show="$index + 1 === setupStudent.activeStudent">
            <ul>
                <li class="required">
                    <input type="text" placeholder="First name" ng-model="student.firstName">
                </li>
                <li>
                    <input type="text" placeholder="Last name" ng-model="student.lastName">
                </li>
                <li class="required">
                    <select ng-model="student.grade" ng-options="grade.id as grade.name for grade in setupStudent.grades"
                            chosen disable-search="true" data-placeholder="Select Grade">
                        <option value="" selected="selected">Select Grade</option>
                    </select>
                </li>
                <li class="required">
                    <select ng-model="student.gender" ng-options="gender.desc as gender.name for gender in setupStudent.gender"
                            chosen disable-search="true" data-placeholder="Select Gender">
                        <option value="" selected="selected">Select Gender</option>
                    </select>
                </li>
            </ul>
            <ul>
                <!--<li class="required">
                    <input ype="text" placeholder="Email" ng-model="student.email">
                </li>-->
                <li class="required">
                    <input type="text" placeholder="Create user name" ng-model="student.username">
                </li>
                <li class="required">
                    <input type="password" placeholder="Pick a password" ng-model="student.password">
                </li>
                <li>
                    <input type="password" placeholder="Type password again" ng-model="student.retypePassword">
                </li>
            </ul>
        </form>
    </div>
    <ul class="setup-students-nav">
        <li ng-repeat="student in setupStudent.students">
            <span ng-click="setupStudent.setActiveStudent($index)" href="#" ng-class="{'active':$index + 1 === setupStudent.activeStudent}">Student 1</span>
        </li>
    </ul>
    <p><span ng-click="setupStudent.goToHome()">Click here</span> if your student(s) are already registered.
        <button class="btn submit" ng-click="setupStudent.saveStudents()">Submit Now</button>
    </p>
</div>