<header>
    <h1><a href="#">classcompete</a></h1>
</header>

<div class="box steps clearfix">
    <div class="sign-in" ng-controller="LoginCtrl as login">
        <h3>Sign in for full access.</h3>
        <form autocomplete="off" novalidate="novalidate" name="loginForm" id="loginForm" ng-submit="login.login()" ng-if="!login.forgotCredentialsView">
            <ul>
                <li class="required">
                    <input type="text" id="loginUsername" name="loginUsername" placeholder="User Name" ng-model="login.user.username">
                </li>
                <li class="required">
                    <input type="password" id="loginPassword" name="loginPassword" placeholder="Password" ng-model="login.user.password">
                    <a ng-click="login.forgotCredentialsView = true">Forgot credentials?</a>
                </li>
                <li>
                    <button type="submit" class="btn">Sign In</button>
                </li>
            </ul>
        </form>
        <form action="" ng-if="login.forgotCredentialsView">
            <ul>
                <li class="required">
                    <input type="text" id="email" name="email" placeholder="Email" ng-model="login.forgotCredentials.email"/>
                    <a ng-click="login.forgotCredentialsView = false">Back</a>
                </li>
                <li>
                    <button type="submit" class="btn" ng-click="login.requestCredentials()">Submit</button>
                </li>
            </ul>
        </form>
        <h4>OR Sign in with</h4>
        <ul ng-controller="SocialCtrl as c_social">
            <li><a href="#" class="btn facebook" ng-click="c_social.facebookLogin()">Facebook</a></li>
            <li><a href='#' class="btn google-plus" ng-click="google_login()" googlesignin>Google +</a></li>
        </ul>
    </div>
    <div class="register" ng-controller="RegistrationCtrl as registration">
        <h3 style="text-align: center">
            Parents sign up for free.<br/>
            <small style="font-size: 13px; color: rgb(170, 170, 170); line-height: 10px; display: block; text-align: center;">All fields are mandatory</small>
        </h3>
        <form class="clearfix" autocomplete="off" novalidate="novalidate" name="registerFrom" ng-submit="registration.register()">
            <ul>
                <li class="required">
                    <select name="" id="" disable-search="true" chosen data-placeholder="Country" ng-model="registration.user.country" ng-options="country.iso2code as country.name for country in registration.countries">
                        <option value=""></option>
                    </select>
                </li>
                <li class="required">
                    <input type="text" name="postalCode" placeholder="Your postal code" ng-model="registration.user.postalCode">
                </li>
                <li class="required">
                    <input type="text" name="firstName" placeholder="First name" ng-model="registration.user.firstName">
                </li>
                <li class="required">
                    <input type="text" name="lastName" placeholder="Last name" ng-model="registration.user.lastName">
                </li>
            </ul>
            <ul>
                <li class="required">
                    <input type="text" name="email" placeholder="Email" ng-model="registration.user.email">
                </li>
                <li class="required">
                    <input type="text" name="regUsername" placeholder="User name" ng-model="registration.user.username">
                </li>
                <li class="required">
                    <input type="password" name="regPassword" placeholder="Pick a password" ng-model="registration.user.password">
                </li>
                <li class="required">
                    <input type="password" name="regRetypePassword" placeholder="Type password again" ng-model="registration.user.retypePassword">
                </li>
            </ul>
            <p>
                By registering you agree to the <a target="_blank" href="http://www.classcompete.com/privacy-policy-terms-conditions">Terms and conditions</a> and <a target="_blank" href="http://www.classcompete.com/privacy-policy-terms-conditions">Privacy Policy</a>
            </p>
            <button class="btn">Register Now</button>
        </form>
    </div>
</div>