<div class="main-holder shop-board">
    <h2><span>Premium</span> Educational Games</h2>
    <p>Each paid game gives you access to multiple challenges, select to learn more and purchase for a student</p>
    <ul class="class-list">
        <li class="box" ng-repeat="class in c_shop.classes">
            <span style="line-height: 25px; color: #6779a1">
                <strong>{{class.name}}</strong>
                <img src="" alt="" ng-src="{{imageUrl}}/classes/{{class.classId}}" ng-click="c_shop.openDetailModal(class)"/>
                <span ng-click="c_shop.openDetailModal(class)">DETAILS</span>
                <div ng-if="!class.quantity" ng-click="c_shop.openShopModal(class)">BUY FOR ${{class.price}}</div>
                <div ng-if="class.quantity" class="activate" ng-click="c_shop.openConnectionModal(class)">ACTIVATE (x{{class.quantity}})</div>
            </span>
        </li>
    </ul>
</div>
