<div class="top-nav">
    <ul bs-navbar>
        <li>
            <a ng-href='#/children' href data-match-route="/children">
                <div class="fs1" aria-hidden="true" data-icon="&#xe070;"></div>
                Student
            </a>
        </li>
        <li>
            <a ng-href='#/manage_children' href  data-match-route="/manage_children">
                <div class="fs1" aria-hidden="true" data-icon="&#xe023;"></div>
                Manage
            </a>
        </li>
        <li>
            <a ng-href='#/profile' href  data-match-route="/profile">
                <div class="fs1" aria-hidden="true" data-icon="&#xe023;"></div>
                Profile
            </a>
        </li>
        <li>
            <a ng-href='#/demo' href  data-match-route="/demo">
                <div class="fs1" aria-hidden="true" data-icon="&#xe023;"></div>
                Demo Codes
            </a>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>

<div class="sub-nav">
    <div class="btn-group pull-right">
        <button class="btn btn-warning2">
            Main Navigation
        </button>
        <button data-toggle="dropdown" class="btn btn-warning2 dropdown-toggle">
              <span class="caret">
              </span>
        </button>
        <ul class="dropdown-menu pull-right">
            <li>
                <a href="#/children">
                    <div class="fs1" aria-hidden="true"></div>
                    Student
                </a>
            </li>
            <li>
                <a href="#/profile">
                    <div class="fs1" aria-hidden="true"></div>
                    Profile
                </a>
            </li>
            <li>
                <a ng-href='#/manage_children'>
                    <div class="fs1" aria-hidden="true"></div>
                    Manage
                </a>
            </li>
            <li>
                <a ng-href='#/demo'>
                    <div class="fs1" aria-hidden="true"></div>
                    Demo Codes
                </a>
            </li>
        </ul>
    </div>
</div>